[submodule "deps/cudnn-frontend"]
	path = deps/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
[submodule "games/Battleships"]
	path = games/Battleships
	url = git@github.com:kirillbizinskyboxlabs/Battleships.git
[submodule "games/Snake"]
	path = games/Snake
	url = git@github.com:kirillbizinskyboxlabs/Snake.git
